.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerItems{
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-block: 1rem;
    width: 80%;
    // justify-content: center;
}