.tabs {
  display: none;
}

.userName {
  max-width: 100px;
  overflow: hidden;
}

.topButtons {
  display: flex;
  gap: 1rem;
  margin-inline: 1rem;
  padding-block: 1rem;
  overflow-x: scroll;

  button {
    border: 1px solid gray;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #151515;
    display: block;
    font-size: large;
    padding-inline: 1rem;
    white-space: nowrap;
  }
}

.myChannelButton {
  background: transparent;
  border: 1px solid #151515;
  padding-block: .5rem;
  padding-inline: 1rem;
  border-radius: .5rem;
  margin-inline: .5rem;
}

@media screen and (min-width: 1080px) {

  .userName {
    max-width: 200px;
    overflow: hidden;
  }

  .topButtons {
    display: none;
  }

  .tabs {
    display: flex;
    gap: 1rem;

    h2 {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */
    }

    h2:hover {
      border-bottom: 2px solid black;
    }
  }
}

.nav {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  padding-inline: 1rem;

  h1 {
    margin: 0px;
  }
}

.logInLink {
  font-size: large;
  border: none;
  background-color: transparent;
}
